<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    <h1>Stocks testing laalala</h1>
<div class="table-responsive">
    <table class="table w-100 table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>P/E Ratio</th>
                <th>Market Cap</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td><a href="/stock/{{ company.symbol }}">{{ company.symbol }}</a></td>
                <td><a href="/stock/{{ company.symbol }}">{{ company.name }}</a></td>
                <td>${{ company.current_price }}</td>
                <td>{{ company.pe_ratio }}</td>
                <td>{{ company.market_cap }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
</body>
</html>
